<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/veiws/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="heading">Weather Report</div>
            <div class="searchBox">
                <!-- <form action="/" method="post">
                    <label for="cityname">City Name: </label>
                    <input type="text" name="cityname" id="cityname" autocomplete="off" autofocus>
                    <button type="submit" class="bn6">Go</button>
                </form> -->
                <article class="l-design-widht">
                    <!-- <h1>Mini CSS-vars Design System</h1> -->
                      <div class="card card--accent">
                      <h2><svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-coffee" href="#icon-coffee" />
                      </svg>Accent</h2>
                    <form action="/" method="post">
                        <label class="input">
                            <input name="cityname" class="input__field" type="text" placeholder=" " autocomplete="off" autofocus/>
                            <span class="input__label">Enter city name</span>
                        </label>
                        
                        <div class="button-group">
                            <button type="submit">Send</button>
                            <button type="reset">Reset</button>
                        </div>
                    </form>
                    </div>
                    <% if(locals.weather) { %>
                    <div class="card card--inverted">
                        <div class="inverted__name">
                            <div class="cityname"><%= weather.name%></div>
                            <div class="citydisp"><%= weather.weather[0].main %></div>
                        </div>
                        <div class="inverted__basic">
                            <img src="https://openweathermap.org/img/wn/<%=weather.weather[0].icon%>@2x.png">  
                            <div class="temp">
                                <span class="citytemp"><%= weather.main.temp%><sup>o</sup>C</span>
                                <span class="citytemp feel"><span class="feel">Feels like: </span><%= weather.main.feels_like%><sup>o</sup>C</span>
                            </div>
                        </div>
                        <div class="basicDetail">
                            <div class="Bdetail">
                                <div class="detail-label">Pressure</div>
                                <div class="detail-value"> <%=weather.main.pressure%> </div>
                            </div>
                            <div class="Bdetail">
                                <div class="detail-label">Humidity</div>
                                <div class="detail-value"> <%=weather.main.humidity%> </div>
                            </div>
                            <div class="Bdetail">
                                <div class="detail-label">Wind</div>
                                <div class="detail-value"> <%=weather.wind.speed%> km/s </div>
                            </div>
                            <div class="Bdetail">
                                <div class="detail-label">Visibility</div>
                                <div class="detail-value"> <%=weather.visibility%> </div>
                            </div>
                            <div class="Bdetail">
                                <div class="detail-label">Timezone</div>
                                <div class="detail-value"> <%=(weather.timezone)/3600%> </div>
                            </div>
                        </div>
                        <div class="dispfull">
                            <%= weather.name%> is situated at a longitude <%=weather.coord.lon%> and a latitude of <%=weather.coord.lat%>. 
                            The city has a wind speed of <%=weather.wind.speed%> km/s and is rotated at <%=weather.wind.deg%> degrees.
                            Sunrise in the city occurs at 6.19am while sunset is at 6.38pm.
                        </div>

                        <input type="color" data-color="light" value="#ffffff" />
                        <input type="color" data-color="dark" value="#212121" />
                        <input type="color" data-color="signal" value="#fab700" />
                        <a href="https://en.wikipedia.org/wiki/<%= weather.name%>" class="bn13">Click for detail</a>
                    </div>
                    <% } %>
                </article>
                  
                <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
                    <symbol id="icon-coffee" viewBox="0 0 20 20">
                      <title>icon-coffee</title>
                      <path fill="currentColor" d="M15,17H14V9h3a3,3,0,0,1,3,3h0A5,5,0,0,1,15,17Zm1-6v3.83A3,3,0,0,0,18,12a1,1,0,0,0-1-1Z"/>
                      <rect fill="currentColor" x="1" y="7" width="15" height="12" rx="3" ry="3"/>
                      <path fill="var(--color-accent)" d="M7.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,0,1-1.79.89Z"/>
                      <path fill="var(--color-accent)" d="M3.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
                      <path fill="var(--color-accent)" d="M11.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
                    </symbol>
                </svg>
            </div>
        </div>
    </div>
    <div class="footer">@Copyright <a href="https://www.linkedin.com/in/shradesh-jodawat-147730265/"> Shradesh2023</a></div>
    <script src="/veiws/main.js"></script>
</body>
</html>